<%- include("header2") %>

    <h1 class="contact-heading">ABOUT US</h1>
    <section class="intro">        
        <div class="niche-social">
            <div class="social insta" style="background-color: #fc2691;"><i class="fa fa-instagram"></i></div>
            <div class="social fb" style="background-color: #3473fa;"><i class="fa fa-facebook"></i></div>
            <div class="social linkedin" style="background-color: #7ca3f7;"><i class="fa fa-linkedin"></i></div>
        </div>
    </section>

    <section class="aboutus">
        <div class="aboutus-intro">
            <p class="aboutus-intro-1"> <a href="/" style="color:#7ca3f7;text-decoration: none;">TechnHealth</a href="index.html">  is a group of experts who tell you about the best trending products related to tech and self-care/health, so that you don't need to spend your precious time researching on the products :)</p>
            <p class="aboutus-intro-1">We research, read, and test for hours for the best products in each category that seems relevant. We show it to you in our guides with reviews and comparison tables for easy choice making.</p>
        </div>
        <div class="question">Why you should trust us ?</div>
        <div class="answer">
            <p class="answer-1">We’re trying to be as objective as possible. We do our testing of products while at the same time look at what others are saying as well.</p>
            <p class="answer-1">We are trying to avoid what other websites are doing.  Very often we see great rated products that we know are just mediocre.It’s why we just tell you what kind of features certain products have and you can decide for yourself. An educated buying decision is the best you can make.</p>
            <p class="answer-1">There’s no big website or company behind us to tell us what to do and which product to promote. We’re a small group who do all the work ourselves as we don’t want to be influenced by the corporate world.Let’s be honest, a lot of the bigger websites aren’t objective in all their reviews. They have relationships to uphold and shareholders to satisfy. They need to make bigger claims so they sell more.</p>
        </div>
        <div class="question">Why are we better than the competition ?</div>
        <div class="answer">
            <p class="answer-1">The ultimate judge of who’s better is you of course.</p>
            <ul class="answer-1">
                <li>We tell you if products are bad (all good products come with some problems)</li>
                <li>Strive to make reviews easy to read, concise and still covering all the questions (which can get quite long)</li>
                <li>Trying to avoid empty fluff and subjective opinions we see on other websites</li>
                <li>We never accept payments or compensation for reviews</li>
                <li>We’re 100% independent (no big company behind us telling us what to do and say)</li>
            </ul>
            <p class="answer-1">Combining our own and other people’s experiences into one information-rich review is, in our opinion, the most objective way to review products and provide accurate information you can rely on.</p>
        </div>
        <div class="question">How do we finance this website ?</div>
        <div class="answer">
            <p class="answer-1">We finance all costs via <a href="https://amazon.com" style="color:#7ca3f7;text-decoration: none;">Amazon</a>.</p>
            <p class="answer-1">With no additional cost to you, we get funds from the Amazon affiliate program. It’s Amazon saying thanks to us for recommending their website.</p>
        </div>
        <div class="question">How to use this website ?</div>
        <div class="answer">
            <p class="answer-1">Everybody wants “the best,” but “best” might mean a lot of different things for different people. This is why we made different categories of products guides. Check the categories in the top menu.</p>
            <p class="answer-1">Since there are hundreds of different models of every product out there, it’s tough for you to make an educated buying decision alone.</p>
            <p class="answer-1">This is where we come to help.</p>
        </div>
        <div class="dis">We're always open to recommendations :) <a href="/contact" style="color:#7ca3f7;text-decoration: none;">Contact us</a> directly !</div>
    </section>

<%- include("footer") %>