<%- include("upper2") %>

<meta name="description" content="If you have any suggestion or want to work with us, then you can directly send us your message through mail. Let's connect and make a better healthy internet family.">
<title> Contact us | technhealth</title>

<%- include('header2'); %>

    <h1 class="contact-heading">CONTACT US</h1>

    <section class="intro">
        
        <div class="niche-social">
            <div class="social insta" style="background-color: #fc2691;"><i class="fa fa-instagram"></i></div>
            <div class="social fb" style="background-color: #3473fa;"><i class="fa fa-facebook"></i></div>
            <div class="social linkedin" style="background-color: #7ca3f7;"><i class="fa fa-linkedin"></i></div>
        </div>
    </section>

    <div class="contact-heading-sub">If you have any question you can contact us here: </div>
    <div class="contact-form" style="margin-bottom:10rem;">
        <form action="/contact" method="POST" class="contact-form-form">
            <div class="contact-form-sub">Username</div>
            <input class="contact-form-input" type="text" name="username" required>
            <div class="contact-form-sub">Email</div>
            <input class="contact-form-input" type="email" name="email" id="" required>
            <div class="contact-form-sub">Your Message</div>
            <textarea name="message" id="" cols="40" rows="10" required></textarea>
            <button class="button-contact" type="submit">SUBMIT</button>
        </form>
    </div>

<%- include("footer") %>