<%- include("header2") %>

        <h1 class="topic">ELECTRONICS</h1>

        <section class="niche-products">
            <div class="products-container">
                <div class="product product-1">
                    <div class="img">
                        <img src="images/charger-main.jfif" alt="" class="product-img">
                        <a href="/electronics/best-power-banks" class="visit">VISIT BLOG</a>
                    </div>
                    <div class="text">
                        <a href="/electronics/best-power-banks" class="text-topic">The best <span style="color:#3f8f54">Portable Chargers </span> and power banks to buy in 2021</a>
                        <div class="text-by">by <span style="color: #3988C8;cursor:pointer;font-weight: 600;">Tanmay Singhal</span> 5 Jan '21</div>
                    </div>
                </div>
                <div class="product product-2">
                    <div class="img">
                        <img src="images/niche-camera-main.jfif" alt="" class="product-img">
                        <a href="/electronics/best-camera" class="visit">VISIT BLOG</a>
                    </div>
                    <div class="text">
                        <a href="/electronics/best-camera" class="text-topic">Top 10 best <span style="color:#3f8f54">Cameras </span> for vlogging, filmmaking and much more</a>
                        <div class="text-by">by <span style="color: #3988C8;cursor:pointer;font-weight: 600;">Ananya Goswami</span> 2 Jan '21</div>
                    </div>
                </div>
                <!-- <div class="product product-3">
                    <div class="img">
                        <img src="images/computer-main.jfif" alt="" class="product-img">
                        <a href="/electronics/best-gaming-computers" class="visit">VISIT BLOG</a>
                    </div>
                    <div class="text">
                        <a href="/electronics/best-gaming-computers" class="text-topic">Best gaming <span style="color:#3f8f54">Computers </span> for pros and begineers</a>
                        <div class="text-by">by <span style="color: #3988C8;cursor:pointer;font-weight: 600;">Ananya Goswami</span> 6th Nov 2020</div>
                    </div>
                </div> -->
                <div class="product product-4">
                    <div class="img">
                        <img src="images/headphones-main.jfif" alt="" class="product-img">
                        <a href="/electronics/best-headphones" class="visit">VISIT BLOG</a>
                    </div>
                    <div class="text">
                        <a href="/electronics/best-headphones" class="text-topic">Best <span style="color:#3f8f54">Headphones </span> to buy for a rich listening experience</a>
                        <div class="text-by">by <span style="color: #3988C8;cursor:pointer;font-weight: 600;">Ananya Goswami</span> 6 Jan '21</div>
                    </div>
                </div>
                <div class="product product-5">
                    <div class="img">
                        <img src="images/laptop-main.jfif" alt="" class="product-img">
                        <a href="/electronics/best-laptop-for-coding-and-video-editing" class="visit">VISIT BLOG</a>
                    </div>
                    <div class="text">
                        <a href="/electronics/best-laptop-for-coding-and-video-editing" class="text-topic">Best <span style="color:#3f8f54">Laptops </span> for coding and video editing in 2021</a>
                        <div class="text-by">by <span style="color: #3988C8;cursor:pointer;font-weight: 600;">Tanmay Singhal</span> 29 Jan '21</div>
                    </div>
                </div>
                <!-- <div class="product product-6">
                    <div class="img">
                        <img src="/images/electronics/pr4.jpg" alt="" class="product-img">
                        <a href="/electronics/best-printer" class="visit">VISIT BLOG</a>
                    </div>
                    <div class="text">
                        <a href="/electronics/best-printer" class="text-topic">Best All-In-One <span style="color:#3f8f54">Printers </span> for home and offices</a>
                        <div class="text-by">by <span style="color: #3988C8;cursor:pointer;font-weight: 600;">Ananya Goswami</span> 6th Nov 2020</div>
                    </div>
                </div>
                <div class="product product-7">
                    <div class="img">
                        <img src="images/projectors-main.jfif" alt="" class="product-img">
                        <a href="/electronics/best-projectors" class="visit">VISIT BLOG</a>
                    </div>
                    <div class="text">
                        <a href="/electronics/best-projectors" class="text-topic">Best <span style="color:#3f8f54">Speakers </span> to buy for home parties in 2021</a>
                        <div class="text-by">by <span style="color: #3988C8;cursor:pointer;font-weight: 600;">Ananya Goswami</span> 6th Nov 2020</div>
                    </div>
                </div>
                <div class="product product-8">
                    <div class="img">
                        <img src="images/tablets-main.jfif" alt="" class="product-img">
                        <a href="/electronics/best-tablets" class="visit">VISIT BLOG</a>
                    </div>
                    <div class="text">
                        <a href="/electronics/best-tablets" class="text-topic">Find the best <span style="color:#3f8f54">Tablets </span> in your budget in 2021</a>
                        <div class="text-by">by <span style="color: #3988C8;cursor:pointer;font-weight: 600;">Ananya Goswami</span> 6th Nov 2020</div>
                    </div>
                </div>
                <div class="product product-9">
                    <div class="img">
                        <img src="images/tv-main.jfif" alt="" class="product-img">
                        <a href="/electronics/best-tv" class="visit">VISIT BLOG</a>
                    </div>
                    <div class="text">
                        <a href="/electronics/best-tv" class="text-topic">Find all range of <span style="color:#3f8f54">LED TVs </span> to buy in 2021</a>
                        <div class="text-by">by <span style="color: #3988C8;cursor:pointer;font-weight: 600;">Ananya Goswami</span> 6th Nov 2020</div>
                    </div>
                </div> -->
            </div>
        </section>

<%- include("footer2") %>