<!-- this is for blogs -->

<script src="../app.js"></script>
</body>

<footer>
    <div class="footer-container">
        <div class="footer-logo">
            <img src="/images/logo2.jpg" alt="" class="footer-image">
            <div class="niche-social">
                <a href="https://www.instagram.com/technhealth_/?hl=en" class="social insta"><i class="fa fa-instagram"></i></a>
                <div class="social fb"><i class="fa fa-facebook"></i></div>
                <div class="social linkedin"><i class="fa fa-linkedin"></i></div>
            </div>
            <div class="copywrite">
                <div class="text">technhealth2021@gmail.com</div>
                <div class="text"> &#169;2021 TechnHealth</div>
            </div>
        </div>
        <div class="options">
            <div class="div">
                <a href="/" class="options-links">HOME</a>
                <a href="/aboutus" class="options-links">ABOUT US</a>
                <a href="/policy" class="options-links">POLICY</a>
                <a href="/contact" class="options-links">CONTACT US</a>
            </div>
            <div class="subscribe" id="subscribe">
                <form action="/" method="POST" class="subscribe-form">
                    <input type="email" name="email" id="" placeholder="Email Id" required>
                    <button type="submit">SUBSCRIBE</button>
                </form>
            </div>            
        </div>
    </div>
</footer>