<%- include("upper2") %>

<meta name="description" content="We provide great insights on products related to health and tech. Therefore to clear out how we work, here is the short info to give you an idea.">
<title> Policy T&C | technhealth</title>

<%- include('header2'); %>

    <h1 class="contact-heading">PRIVACY POLICY</h1>

    <section class="aboutus">
        <div class="aboutus-intro">
            <p class="aboutus-intro-1"> <a href="/" style="color:#7ca3f7;text-decoration: none;">TechnHealth</a href="index.html">  is a group of experts who tell you about the best trending products related to tech and self-care/health, so that you don't need to spend your precious time researching on the products :)</p>
            <p class="aboutus-intro-1">We research, read, and test for hours for the best products in each category that seems relevant. We show it to you in our guides with reviews and comparison tables for easy choice making.</p>
            <p class="aboutus-intro-1">This is an affiliate blog site, we DON'T own/sell any product mentioned here. Our job is to provide you with the best reviews (promoting the products) and thereby earning commission from each sale. </p>
            <p class="aboutus-intro-1" style="margin-bottom:8rem;"><a href="/aboutus" style="color: #7ca3f7;text-decoration: none;">Click here</a> to know more about us !</p>
        </div>
    </section>

<%- include("footer") %>
