* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Lato",sans-serif;
  scroll-behavior: smooth;
}

.section-1 {
  height: 35rem;
  width: 100%;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 15rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

@media only screen and (max-width: 1100px) {
  .heading {
    height: 7rem;
  }
}

.heading .mobile-options {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 6.5rem;
  left: -20rem;
  z-index: 1000;
  background-color: #fff;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  width: 20rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.heading .mobile-options a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #333;
  padding: 2rem 1rem;
}

.heading .mobile-options a:hover {
  color: #3988C8;
}

.heading .mobile-options .mobile-subscribe {
  background-color: #3988C8;
  border: 3px solid #3988C8;
  color: white;
  margin: 1rem 1rem 2rem 1rem;
  padding: 0.5rem 4.4rem;
  cursor: pointer;
}

.heading .mobile-options .mobile-subscribe:hover {
  background-color: #fff;
  color: #3988C8;
}

.heading .logo {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media only screen and (max-width: 690px) {
  .heading .logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.heading .logo .mobile {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  cursor: pointer;
}

@media only screen and (max-width: 1100px) {
  .heading .logo .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 690px) {
  .heading .logo .mobile {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 390px) {
  .heading .logo .mobile {
    margin: 1rem 0.2rem;
    width: 2rem;
  }
}

.heading .logo .mobile .mobile-1 {
  -webkit-transform: rotate(45deg) translate(1px, 5px);
          transform: rotate(45deg) translate(1px, 5px);
}

.heading .logo .mobile .mobile-2 {
  display: none;
}

.heading .logo .mobile .mobile-3 {
  -webkit-transform: rotate(-45deg) translate(-1px, -4px);
          transform: rotate(-45deg) translate(-1px, -4px);
}

.heading .logo .mobile-dash {
  height: 0.2rem;
  width: 3rem;
  display: inline-block;
  margin: 0.2rem;
  background-color: #3988C8;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media only screen and (max-width: 390px) {
  .heading .logo .mobile-dash {
    width: 2rem;
  }
}

.heading .logo-holder {
  width: 20%;
  height: 95%;
}

@media only screen and (max-width: 1100px) {
  .heading .logo-holder {
    height: 80%;
  }
}

@media only screen and (max-width: 690px) {
  .heading .logo-holder {
    display: none;
  }
}

.heading .logo-holder .image {
  width: 100%;
  height: 100%;
}

.heading .logo .searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.heading .logo .searchbar .search {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading .logo .searchbar .search input {
  width: 65rem;
  height: 5rem;
  border: none;
  border-bottom: 1px solid #222;
}

@media only screen and (max-width: 1100px) {
  .heading .logo .searchbar .search input {
    width: 25rem;
  }
}

@media only screen and (max-width: 900px) {
  .heading .logo .searchbar .search input {
    height: 4rem;
  }
}

@media only screen and (max-width: 500px) {
  .heading .logo .searchbar .search input {
    width: 21.5rem;
  }
}

@media only screen and (max-width: 370px) {
  .heading .logo .searchbar .search input {
    margin-right: 2rem;
  }
}

.heading .logo .searchbar .search input::-webkit-input-placeholder {
  font-size: 1.5rem;
  -webkit-transform: translateX(2rem);
          transform: translateX(2rem);
}

.heading .logo .searchbar .search input:-ms-input-placeholder {
  font-size: 1.5rem;
  transform: translateX(2rem);
}

.heading .logo .searchbar .search input::-ms-input-placeholder {
  font-size: 1.5rem;
  transform: translateX(2rem);
}

.heading .logo .searchbar .search input::placeholder {
  font-size: 1.5rem;
  -webkit-transform: translateX(2rem);
          transform: translateX(2rem);
}

.heading .logo .searchbar .search button {
  height: 5rem;
  text-decoration: none;
  padding: 0 2rem;
  margin: 1rem;
  font-size: 1.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
  background-color: #3988C8;
  border: 3px solid #3988C8;
  color: #fff;
}

@media only screen and (max-width: 900px) {
  .heading .logo .searchbar .search button {
    font-size: 1.3rem;
    padding: 0 1.2rem;
    height: 4rem;
  }
}

@media only screen and (max-width: 500px) {
  .heading .logo .searchbar .search button {
    padding: 0 0.8rem;
    margin: 1rem 1rem;
  }
}

@media only screen and (max-width: 370px) {
  .heading .logo .searchbar .search button {
    display: none;
  }
}

.heading .logo .searchbar .search button:hover {
  background-color: #fff;
  color: #3988C8;
  border: 3px solid #3988C8;
}

.heading .logo .searchbar .search button:active {
  -webkit-transform: translate(1px, 1px);
          transform: translate(1px, 1px);
}

.heading .logo .searchbar .search .fa {
  font-size: 2rem;
  color: #555;
  -webkit-transform: translate(2rem, -0.2rem);
          transform: translate(2rem, -0.2rem);
  padding-bottom: 0.9rem;
  padding-top: 1rem;
}

@media only screen and (max-width: 900px) {
  .heading .logo .searchbar .search .fa {
    font-size: 2rem;
  }
}

.heading .logo .searchbar .results {
  z-index: 100;
  width: 65rem;
  -webkit-box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.3);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  min-height: 10rem;
  padding-bottom: 1rem;
  background-color: #f5fafa;
  position: absolute;
  padding-top: 1rem;
  display: none;
  -webkit-transform: translate(1.85rem, 6rem);
          transform: translate(1.85rem, 6rem);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

@media only screen and (max-width: 1100px) {
  .heading .logo .searchbar .results {
    width: 25rem;
  }
}

@media only screen and (max-width: 900px) {
  .heading .logo .searchbar .results {
    -webkit-transform: translate(2.3rem, 5rem);
            transform: translate(2.3rem, 5rem);
  }
}

@media only screen and (max-width: 500px) {
  .heading .logo .searchbar .results {
    width: 21.5rem;
    min-height: 8rem;
  }
}

@media only screen and (max-width: 370px) {
  .heading .logo .searchbar .results {
    -webkit-transform: translate(2.3rem, 4.3rem);
            transform: translate(2.3rem, 4.3rem);
  }
}

.heading .logo .searchbar .results .result-search {
  font-size: 2.7rem;
  margin-left: 1rem;
  margin-top: -1rem;
  font-weight: 700;
  color: #888;
  display: block;
}

.heading .logo .searchbar .results .result-search i {
  font-size: 2.8rem;
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  color: #0a2438;
}

.heading .logo .searchbar .results a {
  display: none;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #111;
  background-color: #ddd;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

@media only screen and (max-width: 690px) {
  .heading .logo .searchbar .results a {
    font-size: 1.3rem;
  }
}

.heading .logo .searchbar .results a:hover {
  color: #3988C8;
}

.heading .content-box {
  width: 90%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

@media only screen and (max-width: 1100px) {
  .heading .content-box {
    display: none;
  }
}

.heading .content-box-items:nth-child(7) {
  margin-left: 1rem;
}

.heading .content-box-items {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0rem -1rem;
  margin-top: 2rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.heading .content-box-items .subitems {
  border-top: 3px solid #3988C8;
  border-bottom: 3px solid #3988C8;
  background-color: white;
  z-index: 10;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.heading .content-box-items .subitems-link {
  color: black;
  margin: 0.8rem;
  text-transform: uppercase;
  display: block;
  letter-spacing: 0.6px;
  text-decoration: none;
  font-size: 1.4rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.heading .content-box-items .subitems-link:hover {
  color: #3988C8;
  font-weight: 700;
  -webkit-transform: translateX(0.6rem);
          transform: translateX(0.6rem);
}

.heading .content-box-items .item {
  text-decoration: none;
  font-size: 1.65rem;
  letter-spacing: 0.5px;
  margin: 0 auto;
  color: #000;
  padding-bottom: 0.5rem;
}

.heading .content-box-items .item:hover {
  color: #3988C8;
}

.zindex {
  z-index: 5;
  border-bottom: 3px solid #3988C8;
  background-color: #fff;
}

.display {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

input[type=search] {
  outline: none;
}

.bg {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.75))), url(../images/bg.jfif);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/bg.jfif);
  height: 20rem;
  background-size: cover;
  position: relative;
}

.bg .text {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .bg .text {
    text-align: start;
  }
}

.bg .text .bg-1 {
  font-size: 5.5rem;
  color: #e8f5ff;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 1100px) {
  .bg .text .bg-1 {
    font-size: 4.5rem;
  }
}

@media only screen and (max-width: 690px) {
  .bg .text .bg-1 {
    font-size: 3.7rem;
  }
}

@media only screen and (max-width: 500px) {
  .bg .text .bg-1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 390px) {
  .bg .text .bg-1 {
    font-size: 2.8rem;
  }
}

@media only screen and (max-width: 370px) {
  .bg .text .bg-1 {
    font-size: 2.45rem;
  }
}

.bg .text .bg-2 {
  font-size: 1.8rem;
  font-weight: 300;
  color: #eee;
  letter-spacing: 1px;
}

@media only screen and (max-width: 1100px) {
  .bg .text .bg-2 {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 690px) {
  .bg .text .bg-2 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 500px) {
  .bg .text .bg-2 {
    display: none;
  }
}

.bg .text .bg-3 {
  display: none;
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
  font-size: 1.2rem;
}

@media only screen and (max-width: 500px) {
  .bg .text .bg-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
  }
}

.bg .text .bg-3 div {
  margin-bottom: 0.2rem;
}

.bg .text .bg-3 .fa {
  color: #4ca764;
  border-radius: 50%;
  font-size: 1.5rem;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: flex-start;
  width: 55%;
  margin: 10rem auto;
  margin-bottom: 5rem;
}

@media only screen and (max-width: 1100px) {
  .intro {
    margin-top: 5rem;
  }
}

@media only screen and (max-width: 900px) {
  .intro {
    width: 70%;
    margin-top: 0rem;
  }
}

@media only screen and (max-width: 690px) {
  .intro {
    width: 85%;
  }
}

.intro .niche-heading {
  font-size: 4.5rem;
}

@media only screen and (max-width: 900px) {
  .intro .niche-heading {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 690px) {
  .intro .niche-heading {
    font-size: 3.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .intro .niche-heading {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 370px) {
  .intro .niche-heading {
    font-size: 2.6rem;
  }
}

.intro .niche-by {
  font-size: 1.5rem;
  margin: 1rem 0;
}

@media only screen and (max-width: 690px) {
  .intro .niche-by {
    font-size: 1.3rem;
  }
}

.intro .niche-subheading {
  font-size: 2.8rem;
  font-weight: 300;
}

@media only screen and (max-width: 900px) {
  .intro .niche-subheading {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 690px) {
  .intro .niche-subheading {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 500px) {
  .intro .niche-subheading {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 370px) {
  .intro .niche-subheading {
    font-size: 1.7rem;
  }
}

.intro .niche-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro .niche-social .social {
  height: 3rem;
  width: 3rem;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  background-color: orangered;
  margin-right: 1rem;
  text-align: center;
  padding-top: 0.2rem;
  font-size: 2rem;
  color: white;
}

@media only screen and (max-width: 390px) {
  .intro .niche-social .social {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    padding-top: 0.3rem;
  }
}

.intro .niche-pic {
  height: 40rem;
  width: 80%;
  margin: 2rem 0;
}

@media only screen and (max-width: 900px) {
  .intro .niche-pic {
    height: 30rem;
  }
}

@media only screen and (max-width: 500px) {
  .intro .niche-pic {
    height: 20rem;
  }
}

.intro .niche-pic-image {
  height: 100%;
  width: 100%;
}

.intro .niche-info {
  margin: 2rem 0;
  font-family: "Open sans",sans-serif;
  padding-right: 2rem;
}

.intro .niche-info-text {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 690px) {
  .intro .niche-info-text {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 370px) {
  .intro .niche-info-text {
    font-size: 1.5rem;
    line-height: 2.1rem;
  }
}

.zindex {
  z-index: 5;
  border-bottom: 3px solid #3988C8;
}

@-webkit-keyframes dropdown {
  0% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes dropdown {
  0% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes height {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
    opacity: 0;
  }
}

@keyframes height {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
    opacity: 0;
  }
}

.glance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 55%;
  margin: 2rem auto;
  color: #444;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media only screen and (max-width: 900px) {
  .glance {
    width: 70%;
  }
}

@media only screen and (max-width: 690px) {
  .glance {
    width: 85%;
  }
}

.glance-heading {
  font-size: 3rem;
  font-weight: 700;
  margin: 1rem 0rem;
  margin-left: -1rem;
}

@media only screen and (max-width: 390px) {
  .glance-heading {
    font-size: 2.5rem;
  }
}

.glance .glance-items {
  font-size: 1.5rem;
  margin: 0.7rem 0.5rem;
}

@media only screen and (max-width: 390px) {
  .glance .glance-items {
    font-size: 1.3rem;
  }
}

.glance .glance-items a {
  text-decoration: none;
  color: #3988C8;
}

.glance .glance-items a:hover {
  color: #555;
}

.blog {
  color: #444;
  width: 55%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: "Open sans",sans-serif;
  margin-bottom: 5rem;
}

@media only screen and (max-width: 1100px) {
  .blog {
    margin-top: -5rem;
  }
}

@media only screen and (max-width: 900px) {
  .blog {
    width: 70%;
  }
}

@media only screen and (max-width: 690px) {
  .blog {
    width: 85%;
  }
}

.blog-part {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-bottom: 2px solid #3988C8;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 5rem 0;
}

.blog-part .blog-img {
  height: 20%;
  width: 60%;
}

.blog-part .blog-img-pic {
  width: 100%;
  height: 100%;
}

.blog-part .blog-product {
  font-size: 3rem;
  font-weight: 600;
  margin: 1rem 0;
}

@media only screen and (max-width: 500px) {
  .blog-part .blog-product {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 390px) {
  .blog-part .blog-product {
    font-size: 2.3rem;
  }
}

.blog-part .blog-description {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.blog-part .blog-description-1 {
  margin: 1rem 0;
  font-size: 1.6rem;
  line-height: 2.35rem;
}

@media only screen and (max-width: 500px) {
  .blog-part .blog-description-1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media only screen and (max-width: 390px) {
  .blog-part .blog-description-1 {
    font-size: 1.3rem;
  }
}

.blog-part .blog-description-2 {
  font-size: 1.7rem;
  margin: 1rem 0;
  line-height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .blog-part .blog-description-2 {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }
}

@media only screen and (max-width: 390px) {
  .blog-part .blog-description-2 {
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
}

@media only screen and (max-width: 370px) {
  .blog-part .blog-description-2 {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}

.blog-part .blog-description-2 .des-2-1 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.blog-part .blog-description-2 .des-2-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.blog-part .blog-description-2 .des-2-2 .country {
  font-size: 1.2rem;
  text-decoration: underline;
  font-weight: 400;
  color: #3988C8;
}

.blog-part .blog-description-2 .des-2-2 .country-2 {
  color: #49c453;
  font-size: 1.2rem;
  text-decoration: underline;
  font-weight: 400;
}

.blog-part .blog-description-2 .des-2-2 button {
  height: 4rem;
  text-decoration: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.7rem 1.5rem;
  font-weight: 700;
  background-color: #3988C8;
  color: #fff;
  border: 2px solid #3988C8;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .blog-part .blog-description-2 .des-2-2 button {
    height: 3.5rem;
  }
}

@media only screen and (max-width: 390px) {
  .blog-part .blog-description-2 .des-2-2 button {
    padding: 0.5rem 0.5rem;
    margin: 0.2rem;
  }
}

.blog-part .blog-description-2 .des-2-2 button:hover {
  background-color: #fff;
  color: #3988C8;
}

.blog-part .blog-description-2 .des-2-2 .button {
  height: 4rem;
  text-decoration: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.7rem 1.5rem;
  font-size: 1.45rem;
  font-weight: 700;
  margin: 0.5rem;
  background-color: #3988C8;
  color: #fff;
  border: 2px solid #3988C8;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .blog-part .blog-description-2 .des-2-2 .button {
    height: 3.5rem;
  }
}

@media only screen and (max-width: 390px) {
  .blog-part .blog-description-2 .des-2-2 .button {
    padding: 0.5rem 0.5rem;
    margin: 0.2rem;
  }
}

.blog-part .blog-description-2 .des-2-2 .button:hover {
  background-color: #fff;
  color: #3988C8;
}

.blog-part .blog-description-2 .des-2-2 .button-2 {
  height: 4rem;
  text-decoration: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.7rem 1.5rem;
  font-size: 1.45rem;
  font-weight: 700;
  margin: 0.5rem;
  background-color: #49c453;
  color: #fff;
  border: 2px solid #49c453;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .blog-part .blog-description-2 .des-2-2 .button-2 {
    height: 3.5rem;
  }
}

@media only screen and (max-width: 390px) {
  .blog-part .blog-description-2 .des-2-2 .button-2 {
    padding: 0.5rem 0.5rem;
    margin: 0.2rem;
  }
}

.blog-part .blog-description-2 .des-2-2 .button-2:hover {
  background-color: #fff;
  color: #49c453;
}

.blog-part .blog-review {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  margin: 1rem 0rem;
}

.blog-part .blog-review-1 {
  font-size: 1.7rem;
  line-height: 2.5rem;
  margin: 2rem 0;
}

@media only screen and (max-width: 500px) {
  .blog-part .blog-review-1 {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}

@media only screen and (max-width: 370px) {
  .blog-part .blog-review-1 {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

footer {
  margin-top: -5rem;
  height: 33rem;
}

@media only screen and (max-width: 500px) {
  footer {
    height: 25rem;
  }
}

@media only screen and (max-width: 500px) {
  footer {
    height: 20rem;
  }
}

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-clip-path: polygon(0 0rem, 36% 6rem, 100% 0rem, 100% 100%, 0 100%);
          clip-path: polygon(0 0rem, 36% 6rem, 100% 0rem, 100% 100%, 0 100%);
  width: 100%;
  background-color: #0a2438;
  padding-top: 8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
  z-index: 1;
}

@media only screen and (max-width: 500px) {
  footer .footer-container {
    -webkit-clip-path: polygon(0 0rem, 36% 3rem, 100% 0rem, 100% 100%, 0 100%);
            clip-path: polygon(0 0rem, 36% 3rem, 100% 0rem, 100% 100%, 0 100%);
    padding-top: 4rem;
  }
}

footer .footer-container::after {
  content: "";
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  background-color: #30b2e6;
  -webkit-clip-path: polygon(0 0rem, 36% 6rem, 100% 0rem, 100% 0.5rem, 36% 6.5rem, 0 0.5rem);
          clip-path: polygon(0 0rem, 36% 6rem, 100% 0rem, 100% 0.5rem, 36% 6.5rem, 0 0.5rem);
  z-index: -1;
}

@media only screen and (max-width: 500px) {
  footer .footer-container::after {
    -webkit-clip-path: polygon(0 0rem, 36% 3rem, 100% 0rem, 100% 0.5rem, 36% 3.5rem, 0 0.5rem);
            clip-path: polygon(0 0rem, 36% 3rem, 100% 0rem, 100% 0.5rem, 36% 3.5rem, 0 0.5rem);
  }
}

footer .footer-container .footer-logo {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media only screen and (max-width: 500px) {
  footer .footer-container .footer-logo {
    width: 25%;
  }
}

footer .footer-container .footer-logo .copywrite {
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 690px) {
  footer .footer-container .footer-logo .copywrite {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 500px) {
  footer .footer-container .footer-logo .copywrite {
    margin-left: 3rem;
  }
}

@media only screen and (max-width: 500px) {
  footer .footer-container .footer-logo .copywrite {
    font-size: 1rem;
  }
}

footer .footer-container .footer-logo .niche-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 500px) {
  footer .footer-container .footer-logo .niche-social {
    margin-left: 3rem;
  }
}

footer .footer-container .footer-logo .niche-social .social {
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
  border-radius: 50%;
  text-align: center;
  padding-top: 0.2rem;
  background-color: #0a2438;
  cursor: pointer;
  font-size: 1.9rem;
  border: 2px solid #fff;
  color: white;
}

@media only screen and (max-width: 690px) {
  footer .footer-container .footer-logo .niche-social .social {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    padding-top: 0.15rem;
  }
}

@media only screen and (max-width: 500px) {
  footer .footer-container .footer-logo .niche-social .social {
    height: 2rem;
    width: 2rem;
    font-size: 1.1rem;
    padding-top: 0.2rem;
    border: 1px solid #fff;
  }
}

footer .footer-container .footer-logo .niche-social .social:hover {
  background-color: white;
  color: #030e26;
}

footer .footer-container .footer-logo .footer-image {
  width: 70%;
  height: 30%;
}

@media only screen and (max-width: 900px) {
  footer .footer-container .footer-logo .footer-image {
    height: 30%;
    width: 75%;
  }
}

@media only screen and (max-width: 690px) {
  footer .footer-container .footer-logo .footer-image {
    height: 25%;
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  footer .footer-container .footer-logo .footer-image {
    width: 100%;
    height: 23%;
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 390px) {
  footer .footer-container .footer-logo .footer-image {
    width: 120%;
  }
}

footer .footer-container .options {
  height: 100%;
  margin-left: 5%;
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 500px) {
  footer .footer-container .options {
    width: 75%;
    margin-left: 5%;
  }
}

footer .footer-container .options .div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .footer-container .options-links {
  text-decoration: none;
  display: inline-block;
  color: #eee;
  font-size: 1.8rem;
  margin: 2rem 0.5rem;
  padding-bottom: 0.5rem;
}

footer .footer-container .options-links::after {
  content: " ";
  display: block;
  height: 0.15rem;
  background-color: #fff;
  width: 0%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media only screen and (max-width: 900px) {
  footer .footer-container .options-links {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 690px) {
  footer .footer-container .options-links {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 390px) {
  footer .footer-container .options-links {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 370px) {
  footer .footer-container .options-links {
    font-size: 1rem;
  }
}

footer .footer-container .options-links:hover::after {
  width: 100%;
}

footer .footer-container .options .subscribe-form {
  margin: 2rem;
}

footer .footer-container .options input {
  height: 4rem;
  width: 40rem;
}

@media only screen and (max-width: 1100px) {
  footer .footer-container .options input {
    width: 30rem;
    height: 4rem;
  }
}

@media only screen and (max-width: 900px) {
  footer .footer-container .options input {
    width: 22rem;
    height: 4rem;
  }
}

@media only screen and (max-width: 690px) {
  footer .footer-container .options input {
    height: 3rem;
    width: 15rem;
  }
}

@media only screen and (max-width: 390px) {
  footer .footer-container .options input {
    height: 2.5rem;
    width: 13rem;
  }
}

@media only screen and (max-width: 370px) {
  footer .footer-container .options input {
    width: 9rem;
  }
}

footer .footer-container .options input::-webkit-input-placeholder {
  font-size: 1.5rem;
}

footer .footer-container .options input:-ms-input-placeholder {
  font-size: 1.5rem;
}

footer .footer-container .options input::-ms-input-placeholder {
  font-size: 1.5rem;
}

footer .footer-container .options input::placeholder {
  font-size: 1.5rem;
}

@media only screen and (max-width: 690px) {
  footer .footer-container .options input::-webkit-input-placeholder {
    font-size: 1.35rem;
  }
  footer .footer-container .options input:-ms-input-placeholder {
    font-size: 1.35rem;
  }
  footer .footer-container .options input::-ms-input-placeholder {
    font-size: 1.35rem;
  }
  footer .footer-container .options input::placeholder {
    font-size: 1.35rem;
  }
}

@media only screen and (max-width: 390px) {
  footer .footer-container .options input::-webkit-input-placeholder {
    font-size: 1.2rem;
  }
  footer .footer-container .options input:-ms-input-placeholder {
    font-size: 1.2rem;
  }
  footer .footer-container .options input::-ms-input-placeholder {
    font-size: 1.2rem;
  }
  footer .footer-container .options input::placeholder {
    font-size: 1.2rem;
  }
}

footer .footer-container .options button {
  padding: 0.7rem 2.5rem;
  height: 4rem;
  background-color: transparent;
  color: #fff;
  border: 3px solid #3988C8;
  font-size: 1.5rem;
  font-weight: 400;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  footer .footer-container .options button {
    height: 4rem;
    padding: 1rem 2rem;
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 690px) {
  footer .footer-container .options button {
    height: 3.2rem;
    font-size: 1.1rem;
    padding: 0.7rem 1rem;
  }
}

@media only screen and (max-width: 390px) {
  footer .footer-container .options button {
    height: 2.6rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 370px) {
  footer .footer-container .options button {
    padding: 0.5rem 1rem;
  }
}

footer .footer-container .options button:hover {
  background-color: #3988C8;
}

footer .footer-container input[type=email] {
  outline: none;
}

input {
  height: 3rem;
}

label {
  font-size: 1.6rem;
}

.login-button {
  display: block;
  height: 4.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.3rem 2.5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 1rem 3rem;
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
  background-color: rgba(30, 133, 235, 0.7);
  border: 3px solid rgba(30, 133, 235, 0.7);
}

.login-button:hover {
  color: rgba(30, 133, 235, 0.7);
  background-color: white;
  cursor: pointer;
}
/*# sourceMappingURL=style2.css.map */